* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  margin: auto;
}

table {
  width: 100%;
  background-color: black;
  color: whitesmoke;
  height: 700px;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid white;
  text-align: center;
}

td img {
  width: 60px;
  height: 60px;
}
